@media (max-width: 980px){
    body{
        font-size: 90%;
    }
.btn{
    font-size: 90%;
}
}

@media (max-width: 800px){
    body{
        font-size: 80%;
    }
    .btn{
        font-size: 80%;
    }
}

@media (max-width: 753px){
    body{
        font-size: 80%;
    }
    .btn{
        font-size: 70%;
    }
}