form{
    width: 100%;
    margin: 2px;
}
.nav{
    padding: 10px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background: #ebf0ff;
}
.form-floating{
    margin: 10px 0px 10px 0px;
}

@media (max-width: 206px){
    form{
        width: 50%;
    }
    .nav{
        width: 150px;
        border-radius: 20px;
    }
    .btn{
        font-size: 9px;
    }
}

@media (max-width: 397px){
    .btn{
        font-size: 12px;
    }
}

@media (max-width: 249px){
   .nav{
       width: 70%;
       padding: 0;
       border-radius: 10px;
       /*display: none;*/
   }
    form{
        width: 100%;
    }
    .btn{
        width: 100%;
        font-size: 9px;
    }
}

@media (max-width: 115px){
    .nav{
        width: 70%;
        border-radius: 10px;
        /*display: none;*/
    }
    .btn{
        width: 20%;
        font-size: 9px;
    }
}

