form{
    width: 300px;
    margin: 20px;
}
#nav{
    padding: 10px;
    position: fixed; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background: #ebf0ff;
}
.form-floating{
    margin: 10px 0px 10px 0px;
}
@media screen and (max-width: 768px) {
}


