{% extends 'index.twig' %}
{% block main %}
    <div class="nav">
        <form  method="post" action="{{ addForm }}">
            <button name="btnAdd" class=" w-100 btn btn-primary" type="submit" value="btnClick">Add user</button>
        </form>
        <form method="post" action="{{ showForm }} ">
            <button name="btnShow" class="w-100 btn btn-primary" type="submit" value="btnClick">Show users</button>
        </form>
    </div>
{% endblock %}